{
  "android": {
    "keystore": {
      "keystorePath": "./keys/upload.keystore",
      "keystorePassword": "REPLACE_ME",
      "keyAlias": "REPLACE_ALIAS",
      "keyPassword": "REPLACE_ME_OR_SAME_AS_KEYSTORE"
    }
  }
}
